@model VolunteerMngSystm.Models.Users

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Users" asp-route-taskId="@ViewBag.TaskId" asp-route-orgId="@ViewBag.OrgId">Back to List</a>
</div>
