@model VolunteerMngSystm.Models.VolunteeringTask

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "NewTask";
}

<h1>Creat new Task</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTask" asp-route-orgId="@ViewBag.orgId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" style="font-weight: bold;" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numOfVols" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="numOfVols" type="number" class="form-control" />
                <span asp-validation-for="numOfVols" class="text-danger"></span>
            </div>
            <div class="form-group" id="datetimepicker">
                <label asp-for="DateTime_of_Task" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="DateTime_of_Task" type="datetime-local" min="@DateTime.Now.ToString(format: "yyyy-MM-ddTHH:mm")" class="form-control" />
                <span asp-validation-for="DateTime_of_Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Time_of_Task" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="End_Time_of_Task" type="time" class="form-control" />
                <span asp-validation-for="End_Time_of_Task" class="text-danger"></span>
                <span asp-validation-for="End_Time_of_Task" class="text-danger">@ViewBag.TimeError</span>
            </div>
            <div class="form-group">
                <label style="font-weight: bold;"> Required Expereice in</label>
                <p>@Html.DropDownListFor(model => model.Expertise_ID, new SelectList(Model.ExperiseList, "ID", "Subject"), "--Select an Expertise--")</p>
            </div>
            <div class="form-group">
                <label asp-for="City" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
                <span asp-validation-for="City" class="text-danger">@ViewBag.wrongAddress</span>
            </div>
            <div class="form-group">
                <label asp-for="Street" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
                <span asp-validation-for="Street" class="text-danger">@ViewBag.wrongAddress</span>
            </div>
            <div class="form-group">
                <label asp-for="Postal_Code" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="Postal_Code" class="form-control" />
                <span asp-validation-for="Postal_Code" class="text-danger"></span>
                <span asp-validation-for="Postal_Code" class="text-danger">@ViewBag.wrongAddress</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creat Task" class="btn btn-dark" />
            </div>

            <script>
                $(function () {
                    $('#datetimepicker').datetimepicker({
                        minDate: new Date()
                    });
                });
            </script>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}