@model VolunteerMngSystm.Models.VolunteeringTask

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "OrgTaskDetails";
}

<h1>Task Details</h1>
<div>
    @if (Model.status == "Accepted")
    {
        <h4 class="text-success">@Html.DisplayFor(model => model.status)</h4>
    }
    else if (Model.status == "Pending")
    {
        <h4 class="text-warning">@Html.DisplayFor(model => model.status)</h4>
    }
    else if (Model.status == "Ended")
    {
        <h4 class="text-muted">@Html.DisplayFor(model => model.status)</h4>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime_of_Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime_of_Task)
        </dd>
        <dt class="col-sm-2">
            <label>End Time</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_Time_of_Task)
        </dd>
        <dt class="col-sm-2">
            Expertise
        </dt>
        <dd class="col-sm-10">
            @Html.ViewBag.Expertise
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numOfVols)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numOfVols)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.accVolNum)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="Users" asp-action="OrgVolList" asp-route-taskId="@Model.ID" asp-route-orgId="@Model.Organisation_ID">@Html.DisplayFor(model => model.accVolNum)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            <label>Postal Code</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postal_Code)
        </dd>
    </dl>
</div>
<div>
    @if (Model.status == "Pending" && Model.accVolNum == 0)
    {
        <a asp-action="TaskEdit" asp-route-task="@Model" asp-route-id="@Model.ID" asp-route-orgId="@ViewBag.orgId">Edit</a> <a>|</a>
    }
    @if (Model.status == "Ended")
    {
        <a asp-action="PreviousTaskList" asp-route-orgId="@ViewBag.orgId">Back</a>
    }
    else
    {
        <a asp-action="ActiveTaskList" asp-route-orgId="@ViewBag.orgId">Back</a>
    }
</div>
