@model IEnumerable<VolunteerMngSystm.Models.VolunteeringTask>

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "PreviousTaskList";
}

<h1>List of Completed Tasks</h1>

<br />
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime_of_Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End_Time_of_Task)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime_of_Task)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End_Time_of_Task)
                    </td>
                    <td>
                        <a asp-action="OrgTaskDetails" asp-route-id="@item.ID" asp-route-orgId="@ViewBag.orgId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    @if (((System.Collections.Generic.List<VolunteerMngSystm.Models.VolunteeringTask>)Model).Count == 0)
    {
        <p class="alert-info" style="font-size:20px">You do not have any tasks that have ended yet...</p>
    }
    <a asp-action="OrgHome" asp-controller="Users" asp-route-orgId="@ViewBag.orgId">Back</a>
