@model IEnumerable<VolunteerMngSystm.Models.VolunteeringTask>

@{
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
    ViewData["Title"] = "VolTaskList";
}

<h1>List of Tasks</h1>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime_of_Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End_Time_of_Task)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.status)
                </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personal_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Postal_Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone_number)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(model => item.DateTime_of_Task)
                </td>
                <td>
                    @Html.DisplayFor(model => item.End_Time_of_Task)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personal_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postal_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_number)
        </td>*@
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                    <a asp-action="VolTaskDetails" asp-route-id="@item.ID" asp-route-usrId="@ViewBag.usrId">Details</a> @*|
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@if (((System.Collections.Generic.List<VolunteerMngSystm.Models.VolunteeringTask>)Model).Count == 0)
{
    <p>No Volunteering tasks are set </p>
}
<div class="col-md-4">
    <a class="btn btn-outline-dark" style="width:225px;" asp-area="" asp-controller="Request" asp-route-id="@ViewBag.usrId" asp-action="VolPreviousTasks">Previous Accepted Tasks</a>
</div>
