@model VolunteerMngSystm.Models.VolunteeringTask

@{
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
    ViewData["Title"] = "TaskDetails";
}

<h1>Task Details</h1>
@ViewBag.error
<p style="color:red">@ViewBag.limit</p>
<div>
    @if (ViewBag.Status == "Accepted")
    {
        <h4 class="text-success">Accepted</h4>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Organised by
        </dt>
        <dd class="col-sm-10">
                @Html.ViewBag.OrgName
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DateTime_of_Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime_of_Task)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.End_Time_of_Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_Time_of_Task)
        </dd>
        <dt class="col-sm-4">
            Expertise
        </dt>
        <dd class="col-sm-10">
            @Html.ViewBag.Expertise
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Postal_Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postal_Code)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MapLink)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.MapLink)" target="_blank">Directions</a>
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.Status == "Pending")
    {
        <a asp-action="TaskAccespted" asp-route-id="@Model.ID" asp-route-usrId="@ViewBag.usrId" class="btn btn-success">Accept</a>
    }
    else if (ViewBag.Status == "Accepted")
    {
        <button asp-action="TaskAccespted" asp-route-id="@Model.ID" asp-route-usrId="@ViewBag.usrId" class="btn btn-success" disabled="disabled">Accept</button>
    }
    <a asp-action="VolTaskList" asp-route-id="@ViewBag.usrId">Back to List</a>
</div>
