@model IEnumerable<VolunteerMngSystm.Models.VolunteeringTask>

@{
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
    ViewData["Title"] = "VolTaskList";
}

<h1>List of Tasks</h1>
@if (ViewBag.Success != null && ViewBag.Success)
{
    <p class="alert-success">
        Task Successfully Accepted
    </p>
}
else if (ViewBag.EditeSuccess != null && ViewBag.EditeSuccess)
{
    <p class="alert-success">
        Changes have been saved.
    </p>
}
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime_of_Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End_Time_of_Task)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.DateTime_of_Task)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.End_Time_of_Task)
                    </td>
                    <td>
                        <a asp-action="VolTaskDetails" asp-route-id="@item.ID" asp-route-usrId="@ViewBag.usrId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (((System.Collections.Generic.List<VolunteerMngSystm.Models.VolunteeringTask>)Model).Count == 0)
{
    <p class="alert-info" style="font-size:20px">No Volunteering tasks have been set yet </p>
}
<div class="col-md-4">
    <a class="btn btn-outline-dark" style="width:225px;" asp-area="" asp-controller="Request" asp-route-id="@ViewBag.usrId" asp-action="VolPreviousTasks">Completed Tasks</a>
</div>
